* {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #262626;
}

li {
	display: block;
	list-style: none;
	color: white;
	padding: 10px 15px;
	font: 16px sans-serif;
}

@media (max-width: 450px) {

	ul {
		flex-direction: column;
	}
}

@media (min-width: 451px) and (max-width: 600px) {

	ul {
		background:;
	}
} 

.post_bar{
	background-color: #262626;
	color: white;
	width: 250px;
	height: 30px;
}

#button1{
	color: white;
	background-color: #262626;
	width: 100px;
	position: absolute; 
	left: 90%;

}
#green{
	background-color: green;
}
#red{
	background-color: red;
}
#purple{
	background-color: purple;
}
#light_blue{
	background-color: #3baff7;
}
textarea{
	width: 250px;
	height: 400px;
}
#bar_colors{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	content: "green red purple light_blue";
	width: 100%;
}
#content{
	position: absolute;
	top: 15%;
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	//grid-template-columns: 5px 250px 5px 250px 5px 250px 5px 250px 5px;
}