* {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #262626;
}

li {
	display: block;
	list-style: none;
	color: white;
	padding: 10px 15px;
	font: 16px sans-serif;
}

@media (max-width: 450px) {

	ul {
		flex-direction: column;
	}
}

@media (min-width: 451px) and (max-width: 600px) {

	ul {
		background:;
	}
} 

.post_bar{
	background-color: #262626;
	color: white;
	width: 250px;
	height: 30px;
	margin-left: auto;
	text-align: center;
}

#button1{
	color: white;
	background-color: #262626;
	width: 100px;
	position: absolute; 
	left: 90%;

}
#green{
	background-color: green;
}
#red{
	background-color: red;
}
#purple{
	background-color: purple;
}
#light_blue{
	background-color: #3baff7;
}
textarea{
	width: 250px;
	height: 400px;
}
#bar_colors{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	content: "green red purple light_blue";
	width: 100%;
}
#content{
	position: absolute;
	float: left;
	width: 90%;
	top: 15%;
	display: grid;
	//grid-template-columns: 250px 250px 250px 250px;
	grid-template-areas: "to_do in_progress review complete";
	//grid-template-columns: 5px 250px 5px 250px 5px 250px 5px 250px 5px;
	grid-template-columns: 25% 25% 25% 25%;
}
.post{
	background-color: lightgray;
}
.box{
	width: 81%;
	height: 480px;
	margin-left: 19%;
	margin-right: 5%;
	background-color: rgb(240, 240, 240);
	border-color: black;
	border-width: 5px;
	//border-bottom-right-radius: 20px;
	//border-bottom-left-radius: 20px;
	//border-bottom-color: black;
}
p{
	text-align: center;
	font-size: 30px;
	border-style: solid;
	//border-radius: 15px;
	background: lightgray;
	//margin-left: 10px;
	//margin-right: 10px;
	//margin-bottom: 10px;
}
#to_do{
	grid-area: to_do;
}
#in_progress{
	grid-area: in_progress;
}
#review{
	grid-area: review;
}
#complete{
	grid-area: complete;
}
#add_content{
	//display: block;
	display: none; //invisible
	position: absolute;
}
#box_content{
	background-color: gray;
	display: block;
	height: 500px;
	width: 500px;
	margin-left: 30%;
	position: absolute;
}