* {
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(192, 197, 220);
	font-family: Helvetica;
}

ul {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #262626;
}

li {
	display: block;
	list-style: none;
	color: white;
	padding: 10px 15px;
	font: 16px sans-serif;
}

@media (max-width: 450px) {

	ul {
		flex-direction: column;
	}
}

@media (min-width: 451px) and (max-width: 600px) {

	ul {
		background:;
	}
} 

.post_bar{
	background-color: #262626;
	color: white;
	width: 280px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#button1{
	color: white;
	background-color: #262626;
	width: 100px;
	position: absolute; 
	left: 90%;
	border-radius: 15px;

}
#green{
	background-color: green;
}
#red{
	background-color: red;
}
#purple{
	background-color: purple;
}
#light_blue{
	background-color: #3baff7;
}
textarea{
	width: 250px;
	height: 400px;
}
#bar_colors{
	display: flex;
	/*grid-template-columns: 25% 25% 25% 25%;*/
	flex-direction: row;
	/*content: "green red purple light_blue";*/
	width: 100%;
}
#content{
	position: absolute;
	float: left;
	width: 100%;
	top: 13%;
	display: grid;
	grid-template-areas: "to_do in_progress review complete";
	grid-template-columns: 25% 25% 25% 25%;
	z-index: 90;
	clear: both;
}
.post{
	background-color: lightgray;
}
.box{
	width: 280px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(240, 240, 240);
	border-color: black;
	border-width: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

}
p{
	text-align: center;
	font-size: 30px;
	border-style: solid;
	border-radius: 15px;
	background: lightgray;
	margin-bottom: 3px;
}
#to_do{
	grid-area: to_do;
}
#in_progress{
	grid-area: in_progress;
}
#review{
	grid-area: review;
}
#complete{
	grid-area: complete;
}
#add_content{
	/*display: block;*/
	display: none; /*invisible*/
	position: fixed;
	margin-left: 40%;
	z-index: 101;
	clear: both;	
}
#box_content{
	background-color: gray;
	display: block;
	height: 300px;
	width: 300px;
	margin-left: 30%;
	position: absolute;
}
#first{
	width: 70%;
	margin-left: 37px;
	
}
#second{
	width: 70%;
	height: 70%;
	position: absolute;
	margin-left: 37px;


}
h5{
	margin-left: 30%;
}

#box_1{
	background-color: rgb(185, 255, 185);
}
#box_2{
	background-color: rgb(250,128,114);
}
#box_3{
	background-color: rgb(218,112,214);
}
#box_4{
	background-color: rgb(135,206,235);
}